body {
    margin: auto;
    width: 95%;
    background-image: url(assets/images/paper-texture1.jpg);
    background-size: cover;
    background-position: center;
}

article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.centraltext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 25px;
    border-left: 10px solid transparent;
    border-image: url("assets/images/marge.png") 30 round;
}

.centraltext::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background-image: url('assets/images/marge.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.navlinks {
    display: flex;
    flex-direction: row;
}

.logowh3 {
    align-self: flex-start;
}

.name, .title, .description {
    text-align: justify;
}

.name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.9rem;
    margin-top: 2rem;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
}

.navlinks a {
    display: flex;
    align-items: center;
}

.buttonsteam {
    vertical-align: middle;
    margin-right: 50px;
    border-width: 100px;
    border: 3px solid black;
}

.buttonme {
    border-width: 100px;
    border: 3px solid black;
}

.buttonme, .buttonsteam {
    padding: 15px;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: right;
    flex-direction: column;
    list-style: none;
    margin: 0;
}

.contacts2 {
    padding-bottom: 3px;
}

.socialmedia {
    display: flex;
    justify-content: right;
    flex-direction: row;
    list-style: none;
    padding-right: 4.5%;
    margin: 0;
}

.socialmedia2 {
    padding: 3px;
}