@font-face {
    font-family: "MedievalSharp-Regular";
    src: url(assets/font/MedievalSharp-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "MedievalSharp-Regular", serif;
}

body {
    margin: auto;
    width: 95%;
    background-image: url(assets/images/grunge-background.jpg);
    background-size: cover;
    background-position: center;
}

article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.centraltext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 5px;
}

.navlinks {
    display: flex;
    flex-direction: row;
}

.logowh3 {
    align-self: flex-start;
}

.name, .title, .description {
    text-align: justify;
}

.name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.9rem;
    margin-top: 2rem;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
}

.buttonsteam {
    vertical-align: middle;
    margin-right: 50px;
}
.buttonme, .buttonsteam {
    display: flex;
    align-items: center;
    padding: 50px;
    text-decoration: none;
    border: 1px;
    border-radius: 50px;
    background-image: url(assets/images/bouton-1.png);
    background-position: center;
    background-size: cover;
    font-weight: bold;
    color: black;
    transition: transform 0.5s ease,
                border-width 0.5s ease;
}

.buttonsteam:hover, .buttonme:hover {
    transform: scale(1.3);
    border-width: 4px;
}

.contacts {
    display: flex;
    justify-content: right;
    flex-direction: column;
    list-style: none;
    margin: 0;
}

.contacts2 {
    padding-bottom: 3px;
}

.socialmedia {
    display: flex;
    justify-content: right;
    flex-direction: row;
    list-style: none;
    padding-right: 3%;
    padding-bottom: 0.5%;
    margin: 0;
}

.socialmedia2 {
    padding: 5px;
    transition: transform 0.3s ease, 
                box-shadow 0.3s ease, 
                border-width 0.3s ease;
}

.socialmedia2:hover {
    transform: scale(1.2);
    border-width: 4px;
}